<header class="intro-header">
  <div class="view jarallax" data-jarallax='{"speed": 0.2}' style="background-color: black">
    <div class="container">
      <div class="text-center title">
        <h1 class="h1 h1-reponsive text-white wow fadeInDown pb-5"><strong>Jordan Danberry</strong></h1>
      </div>
    </div>
    <div class="row d-flex align-items-center justify-content-center">
      <div class="col-md-5">
        <div class="pb-3">
          <img class="wow fadeInLeft" src="../../assets/imgs/boutBG.JPG"/>
        </div>
      </div>
      <div class="col-md-7">
        <div class="pb-3">
          <h2 class="pl-10 wow fadeDown text-center white-text">Founder</h2>
        </div>
        <div class="row d-flex align-items-center justify-content-center mobile-row">
          <div class="col-md-7">
            <p class="text-center wow fadeInLeft white-text">
              Jordan’s shared passion for community service and sports prompted her vision to inspire the next generation. The Arkansas native is a distinguished athlete and leader in her community.
              Jordan was fortunate to see success at an early age while earning honors such as Arkansas Gatorade Player of the Year for both junior and senior seasons at Conway High School.
              <br>
              <br>
              Jordan initially began her collegiate career at The University of Arkansas. After leaving Arkansas, Jordan went on to play at Mississippi State University to receive numerous accolades and recognition for her academics and athletics including:
              <br>
              <br>
              Master of Business Administration
              <br>
              Bachelor of Science in Business Economics
              <br>
              Elite 90 Award
              <br>
              All SEC Second and Defensive teams
              <br>
              Naismith Player of the Year Midseason team
              <br>
              Naismith Defensive Player of the Year Semifinalist
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Row 2 -->
    <div class="row d-flex align-items-center justify-content-center mobile-row">
      <div class="col-md-7">
        <div class="pb-3">
          <h2 class="pl-10 wow fadeInLeft text-center white-text">Leadership</h2>
        </div>
        <div class="row d-flex align-items-center justify-content-center">
          <div class="col-md-7">
            <p class="text-center wow fadeInLeft white-text quote">
              “My time at Mississippi State showed me the type of leadership role I could play in my community.
              <br>
              I realized the impact I could have on young lives during my final year of college ball.”
            </p>
            <p class="text-center wow fadeInRight white-text">
              While performing at a high level of competition, Jordan was also able to coordinate a program that focused on increasing self-esteem in young girls of color. Although only consisting of about 20 young ladies, Jordan aspired to reach even more.
              <br>
            <p class="text-center wow fadeInLeft white-text quote">
              “My first experience of the mentor/mentee relationship was through summer programs such as AAU basketball and youth camps.”
            </p>
            <p class="text-center wow fadeInRight white-text">
              There are ample reasons as to why mentorship is so important. The impact of this exchange led Jordan to establish The Gem Sports Club.
              <br>
            </p>
            <p class="text-center wow fadeInLeft white-text quote">
            “I desire to create an environment where the youth could not only play and develop in a sport that they love, but also understand the strength of self-empowerment.
              <br>
              I believe everyone is born a GEM but not everyone realizes their own power.”
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-5 pb-5">
        <img class="wow fadeInRight" src="../../assets/imgs/about2.jpg"/>
      </div>
    </div>
  </div>
</header>
<footer class="page-footer font-small logo-blue darken-3">
  <div class="row d-flex justify-content-between align-items-center">
    <div class="col-lg-4 text-center f-space p1">
      <mdb-icon fas icon="phone" size="2x" class="white-text mb-2"></mdb-icon>
      <br>
      <h5>(501) 492-9671</h5>
    </div>
    <div class="col-lg-4 text-center f-space">
      <mdb-icon fas icon="envelope" size="2x" class="white-text mb-2"></mdb-icon>
      <h5>info@thegemsports.org</h5>
    </div>
    <div class="col-lg-4 text-center f-space">
      <a href="https://www.facebook.com/thegemsports" class="fb-ic">
        <mdb-icon fab icon="facebook" size="2x" class="white-text mr-2" ></mdb-icon>
      </a>
      <a href="https://www.twitter.com/thegemsports" class="tw-ic">
        <mdb-icon fab icon="twitter" size="2x" class="white-text mr-2"></mdb-icon>
      </a>
      <a href="https://www.instagram.com/thegemsports" class="ins-ic">
        <mdb-icon fab icon="instagram" size="2x" class="white-text mr-2 mb-2"></mdb-icon>
      </a>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2021 TheGemSports, LLC</div>
</footer>
