<header class="intro-header">
  <div class="view jarallax bg" data-jarallax='{"speed": 0.2}'>
    <div class="container">
      <div class="text-center thank white-text">
        <div class="icon pt">
          <mdb-icon size="3x" far icon="check-circle"></mdb-icon>
        </div>
        <h1 class="h1 h1-reponsive wow fadeInDown"><strong>THANK YOU!</strong></h1>
        <br>
        <h6>You Have Successfully Registered For The 1st Annual Girls Elite Basketball Skills Clinic.
        </h6>
        <h6 class="wow fadeInDown">See you on August 29th at the Conway High Old Gym at 1pm!</h6>
      </div>
    </div>
  </div>
</header>
