.bg {
  height: 95vh !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../assets/imgs/ThankYou.png');
}
.thank {
  padding-top: 20vh;
}
.pt {
  padding-bottom: 3vh;
}
