<app-message></app-message>
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark logo-blue sticky-top" [containerInside]="false">
  <mdb-navbar-brand>
    <a class="navbar-brand" href="#">
      Gem Sports Club
    </a>
  </mdb-navbar-brand>
  <links>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/home">HOME</a>
      </li>
<!--      <li class="nav-item">-->
<!--        <a class="nav-link waves-light" mdbWavesEffect routerLink="/clinic">Annual Skills Clinic</a>-->
<!--      </li>-->
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/register">Pre-Registration Form</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/about">About The Founder</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect [routerLink]='"/home"' [fragment]='"blogs"'>Blogs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect href="https://thegemsports.com">Gem Club Apparel</a>
      </li>
    </ul>
  </links>
</mdb-navbar>
<router-outlet></router-outlet>
