<header class="intro-header">
  <div class="view jarallax bg" data-jarallax='{"speed": 0.2}' style="background-image: url('../../assets/imgs/homeBG1.png');">
    <div class="container">
      <div class="text-center title">
        <h1 class="h1 h1-reponsive wow fadeInDown"><strong>THE GEM SPORTS CLUB</strong></h1>
      </div>
    </div>
    <div class="container flex-center-ind">
      <div class="row d-flex w-100 mb-5 mt-5 align-items-center justify-content-center">
        <div class="col-md-12">
          <div class="text-center logo wow fadeInLeft">
            <img src="assets/imgs/logo.png">
          </div>
          <div class="text-center wow fadeInRight content">
            <h2>Gem Sports Club</h2>
            <br>
            <p>The Gem Sports Club is a non-profit organization whose mission is to empower, train, and develop the life skills of youth through sports competition, collaborations, and mentorship.
              We desire to create an opportunity for youth to compete at the highest level in their sport. Our teams will be expected to act with integrity and honesty, and focus on continuously improving themselves everyday.
              We are dedicated to building a culture centered around our values, such as teamwork, respect, nobility, and self-worth for all members of the organization.
              The Gem Sports Club will host clinics, skill sessions and camps to assist in our athlete’s success on and off the court or field.
              <br>
              The GSC Basketball Team is a competitive basketball organization consisting of girls from the Faulkner County area and other cities throughout Arkansas.
              Our goal is to showcase the talent and resilience of the best basketball players in the country and increase their likelihood of earning an athletic scholarship. We will focus on fundamental training and development.
              The GSC is open to participation by all young women entering the 7th through 9th grade in the 2021-2022 Academic School Year.
            </p>
            <br>
            <button type="button" mdbBtn color="dark" mdbWavesEffect routerLink="/about">Learn More About Me</button>
            <button type="button" mdbBtn color="dark" mdbWavesEffect routerLink="/register">Gem Club Registration</button>
            <button type="button" mdbBtn color="dark" mdbWavesEffect href="https://thegemsports.com">Gem Club Apparel</button>

          </div>
        </div>

      </div>
    </div>
    <!-- Short stories -->
    <div class="container">
      <div class="text-center title">
        <h1 class="h1 h1-reponsive wow fadeInDown"><strong>Short Stories</strong></h1>
        <h6 class="wow fadeInDown">By: Jordan Danberry</h6>
      </div>
    </div>
    <div class="container flex-center-ind">
      <div class="row d-flex w-100 mb-5 mt-5 align-items-start justify-content-center">
        <div class="col-md-6">
          <div class="text-center wow fadeInLeft content">
            <h2>LEADER</h2>
            <br>
            <p>I tried so many times to deny my natural capabilities of leading. I just did not want to be “The One”.
              But no matter where I went, there was always someone looking to me for guidance. And the entire time I was looking at them for the same.
              I knew I was a LEADER when it was no longer a challenge to hold myself and teammates accountable. I became more aware of my influence and ability to impact others around me in a positive light.
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="text-center wow fadeInRight content">
            <h2>CREATOR</h2>
            <br>
            <p>I knew I was a CREATOR after the series of spin moves I was able to execute consistently with ease.
              With any art form, it takes discipline and perseverance to perfect your craft. The game of basketball deserves diligent players.
              By becoming a steward of the game through late night gym runs and film sessions, I was awarded success in return on and off the court. This encouraged me to conduct creativity in every aspect of my life.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container flex-center-ind">
      <div class="row d-flex w-100 mb-5 align-items-start justify-content-center">
        <div class="col-md-4">
          <div class="text-center wow fadeInLeft content">
            <h2>ENOUGH</h2>
            <br>
            <p>I knew I was ENOUGH after being picked on a team for a scrimmage game with all boys.
              “Who, ME?” I asked, while sitting on the bleachers of a local Boys and Girls Club. My grandpa always told me I was good enough to play with ANYBODY, but the boys???!!!
              I mean I guess they weren’t that much bigger or faster than me. Definitely not better than this little bear.
              At least, I ought to think so. “Yes, YOU! I want you on my team.”
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="text-center wow fadeInUp content">
            <h2>LOVED</h2>
            <br>
            <p>My family never denies a chance to celebrate me and all my endeavors.
              No accomplishment is too small for them.
              I knew I was LOVED after my first year of playing.
              I remember my mom calling the contractor to come pour concrete in our backyard for an outside court.
              I was so excited to invite my cousins to come out and play. And of course, they did.
              It seemed like every weekend we were memorializing something new or maybe that was just the smell of my Papa’s grill that kept me excited.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="text-center wow fadeInRight content">
            <h2>STRONG</h2>
            <br>
            <p>My most memorable basketball moments were those with my AAU team.
              I couldn’t think of anything better than traveling state to state playing the game of basketball with a group of girls I called my family.
              Training, hanging out with my teammates, and winning games was my life. I mean all the conditioning and two-a-day practices were worth it, right?
              I found out how STRONG I really was when training with the shoe junky. “You can be faster than that!” “Ahh, it ain’t that heavy.”
              Trust me, IT WAS HEAVY. But I loved being pushed to what I thought was ‘my limit’.
              But in reality, limits only exist in your mind.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<footer class="page-footer font-small logo-color darken-3">
  <div class="row d-flex justify-content-between align-items-center">
    <div class="col-lg-3 p1 text-center">
      <h4>Questions or Comments?</h4>
      <h5>Lets Chat!</h5>
      <mdb-icon fas icon="comments" size="5x"></mdb-icon>
    </div>
    <div class="col-lg-3 text-center f-space">
      <mdb-icon fas icon="phone" size="2x" class="white-text mb-2"></mdb-icon>
      <br>
      <h5>(501) 492-9671</h5>
    </div>
    <div class="col-lg-3 text-center f-space">
      <mdb-icon fas icon="envelope" size="2x" class="white-text mb-2"></mdb-icon>
      <h5>info@thegemsports.org</h5>
    </div>
    <div class="col-lg-3 text-center f-space">
      <a href="https://www.facebook.com/thegemsports" class="fb-ic">
        <mdb-icon fab icon="facebook" size="2x" class="white-text mr-2" ></mdb-icon>
      </a>
      <a href="https://www.twitter.com/thegemsports" class="tw-ic">
        <mdb-icon fab icon="twitter" size="2x" class="white-text mr-2"></mdb-icon>
      </a>
      <a href="https://www.instagram.com/thegemsports" class="ins-ic">
        <mdb-icon fab icon="instagram" size="2x" class="white-text mr-2 mb-2"></mdb-icon>
      </a>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2021 TheGemSports, LLC</div>
</footer>
