img {
  width: 50%;
  height: 50%;
  margin-left: 25%;
}
.contact {
  text-align: center;
}
.bg {
  height:100% !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  background-image: url('../../assets/imgs/homeBG1.png');
}
.bg1 {
  height: 100% !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  background-image: url('../../assets/imgs/homeBG3.png');
}
.flex-center-ind{
  display: flex;
  justify-content: center;
  height: 100%;
}
.mr-2 {
  padding: 1rem !important;
}
.hr-dark {
  border-top: 3px solid black;
  width: 25%;
}
.same{
  width: 240px !important;
}
.bg2 {
  height: 100% !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  background-image: url('../../assets/imgs/blogbg.png');
}
.w100 {
  width: auto !important;
}
